#Wed, 20 Mar 2013 14:35:53 -0400
app.name=citybars
app.framework=touch
app.classpath=${app.dir}/app.js,${app.dir}/app

app.cmd.version=3.1.0.253

app.build.dir=${workspace.build.dir}/${app.name}
app.id=f6d31db3-4fba-49fd-b078-65553728d829
